.main-div {
    background: #757f9a;
    background: -webkit-linear-gradient(to left, #857f9a, #d7dde8);
    background: linear-gradient(to top, #757f9a, #d7dde8);
}


.header {
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.shashank-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.my-header {
    background-color: black;
    opacity: 0.8;
    padding: 20px;
    margin-right: 20em;
    margin-left: 20em;
    text-align: center;
    border-radius: 10px;
}

.my-header h1,h2,h3 {
    color:white;
}

.university {
    color:white
}

.skills {
    color: green;
}

.my-header hr {
    color: white;
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 600px;
    margin: 25px auto 25px;
}

.intro-text .name {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  
.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}

.bio {
    background-color: lightgrey;
    opacity: 0.8;
    padding: 40px;
    margin-top: 5em;
    margin-right: 20em;
    margin-left: 20em;
    text-align: left;
    border-radius: 20px;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 10em;
}

.bio p {
    font-size: 20px;
    line-height: 1.6;
}